if SHIELD_NAKED60

config ZMK_KEYBOARD_NAME
    default "Viera Keyboard"

config ZMK_BLE
    default y

config ZMK_USB
    default y

config ZMK_RGB_UNDERGLOW
    default y

config ZMK_RGB_UNDERGLOW_LED_COUNT
    default 10

config ZMK_RGB_UNDERGLOW_GPIO_PIN
    default 7

config ZMK_RGB_UNDERGLOW_GPIO_CONTROLLER
    default "GPIO_0"
endif
