if SHIELD_NAKED60

config ZMK_KEYBOARD_NAME
    default "Viera Keyboard"

config ZMK_BLE
    default y

config ZMK_USB
    default y

config ZMK_RGB_UNDERGLOW
    bool
    default y
config ZMK_RGB_UNDERGLOW_LED_COUNT
    int
    default 68
config ZMK_RGB_UNDERGLOW_ON_START
    bool
    default n
endif
