#include "keys_se.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/caps_rgb_ctrl.h>

/ {
    // behaviors {
    //     f1_bt_0: f1_bt_0 {
    //         compatible = "zmk,behavior-mod-morph";
    //         label = "f1_bt_0";
    //         #binding-cells = <0>;
    //         bindings = <&kp F1>, <&bt BT_SEL 0>;
    //         mods = <(MOD_LSFT|MOD_RSFT)>;
    //     };
    //     f2_bt_1: f2_bt_1 {
    //         compatible = "zmk,behavior-mod-morph";
    //         label = "f2_bt_1";
    //         #binding-cells = <0>;
    //         bindings = <&kp F2>, <&bt BT_SEL 1>;
    //         mods = <(MOD_LSFT|MOD_RSFT)>;
    //     };
    //     f3_bt_2: f3_bt_2 {
    //         compatible = "zmk,behavior-mod-morph";
    //         label = "f3_bt_2";
    //         #binding-cells = <0>;
    //         bindings = <&kp F3>, <&bt BT_SEL 2>;
    //         mods = <(MOD_LSFT|MOD_RSFT)>;
    //     };
    //     f4_bt_3: f4_bt_3 {
    //         compatible = "zmk,behavior-mod-morph";
    //         label = "f4_bt_3";
    //         #binding-cells = <0>;
    //         bindings = <&kp F4>, <&bt BT_SEL 3>;
    //         mods = <(MOD_LSFT|MOD_RSFT)>;
    //     };
    //     f11_bt_clear: f11_bt_clear {
    //         compatible = "zmk,behavior-mod-morph";
    //         label = "f11_bt_clear";
    //         #binding-cells = <0>;
    //         bindings = <&kp F11>, <&bt BT_CLR_ALL>;
    //         mods = <(MOD_LSFT|MOD_RSFT)>;
    //     };
    //     f12_reset: f12_reset {
    //         compatible = "zmk,behavior-mod-morph";
    //         label = "f12_reset";
    //         #binding-cells = <0>;
    //         bindings = <&kp F12>, <&sys_reset>;
    //         mods = <(MOD_LSFT|MOD_RSFT)>;
    //     };
    // };

    behaviors {
        softoff: softoff {
            compatible = "zmk,behavior-hold-tap";
            label = "SOFTOFF";
            bindings = <&soft_off>, <&none>;

            #binding-cells = <2>;
            hold-trigger-key-positions = <14>;
            tapping-term-ms = <2000>;
        };
        
        bl_tog: bl_tog {
            compatible = "zmk,behavior-bl-toggle";
            label = "BL_TOG";
            #binding-cells = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC    &kp N1    &kp N2    &kp N3  &kp N4  &kp N5  &kp N6     &kp N7  &kp N8  &kp N9     &kp N0    &kp MINUS  &kp EQUAL       &kp BSPC        &kp BACKSPACE
&kp TAB    &kp Q     &kp W     &kp E   &kp R   &kp T   &kp Y      &kp U   &kp I   &kp O      &kp P     &kp LBKT   &kp RBKT        &kp ENTER       &bootloader
&kp CAPS   &kp A     &kp S     &kp D   &kp F   &kp G   &kp H      &kp J   &kp K   &kp L      &kp SEMI  &kp APOS   &lt 1 X                         &bt BT_CLR_ALL
&kp LSHFT  &lt 2 LT  &kp Z     &kp X   &kp C   &kp V   &kp B      &kp N   &kp M   &kp COMMA  &kp DOT   &kp FSLH   &kp RSHFT       &kp UP_ARROW    &bl_tog
&kp LCTRL  &kp LALT  &kp LGUI                          &kp SPACE                             &kp RGUI  &kp RALT   &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans           &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &rgb_ug RGB_TOG  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans                   &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &rgb_ug RGB_BRI  &trans
&trans  &trans  &trans                          &trans                          &trans  &trans  &trans  &rgb_ug RGB_BRD  &rgb_ug RGB_COLOR_HSB(0,0,100)
            >;
        };

        layer_2 {
            bindings = <
&trans  &rgb_ug RGB_COLOR_HSB(0,100,50)  &rgb_ug RGB_COLOR_HSB(246,100,50)  &rgb_ug RGB_COLOR_HSB(118,100,50)  &rgb_ug RGB_COLOR_HSB(273,100,50)  &rgb_ug RGB_COLOR_HSB(0,0,100)  &rgb_ug RGB_EFF  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans                           &trans                             &trans                             &trans                             &trans                          &trans           &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans                           &trans                             &trans                             &trans                             &trans                          &trans           &trans  &trans  &trans  &trans  &trans  &trans          &trans
&trans  &trans                           &trans                             &trans                             &trans                             &trans                          &trans           &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans                           &trans                                                                                                                                   &trans                                   &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
